body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #f8f8f8;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(118, 75, 75);
  padding: 0 20px;
  color: white;
  position: relative;
  height: 70px;
}

.logo {
  font-size: 30px;
}

.nav-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.navbar ul {
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}

.navbar ul li {
  list-style: none;
}

.navbar ul li a {
  color: white;
  font-size: 18px;
  text-decoration: none;
  padding: 8px 12px;
}

.navbar ul li a:hover {
  background-color: white;
  color: black;
  border-radius: 5px;
}

.navbar-right {
  display: flex;
  gap: 10px;
}

.navbar-right a {
  font-size: 20px;
  color: white;
}

.navbar-right a:hover {
  color: blue;
}

.checkbtn {
  font-size: 25px;
  color: white;
  cursor: pointer;
  display: none;
}

/* Mobile View */
@media (max-width: 768px) {
  .navbar ul {
    position: absolute;
    top: 70px;
    left: 0;
    width: max-content;
    background-color: rgb(114, 60, 60);
    flex-direction: column;
    display: none;
    z-index: 99;
  }

  .navbar ul.show {
    display: flex;
    /* Show when JS adds class */
  }

  .checkbtn {
    display: block;
  }

  .navbar-right {
    position: absolute;
    right: 20px;
    top: 5px;
  }

  .navbar-right a {
    align-items: center;
    padding-top: 20px;
  }

}

.mybook {
  display: flex;
  flex-direction: row;
  overflow-x: auto;

  white-space: nowrap;
  padding: 10px;
  gap: 30px;
  margin-top: 20px;
}

.mybook img {
  height: 300px;
  width: 500px;
}

h3 {
  text-align: center;
}

.btn {

  height: 30px;
  width: fit-content;
  border-radius: 10px;
  margin: auto;
  display: block;


}

.btn :hover {
  color: aliceblue;

}