body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #f8f8f8;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(118, 75, 75);
  padding: 0 20px;
  color: white;
  position: relative;
  height: 70px;
}

.logo {
  font-size: 30px;
}

.nav-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.navbar ul {
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}

.navbar ul li {
  list-style: none;
}

.navbar ul li a {
  color: white;
  font-size: 18px;
  text-decoration: none;
  padding: 8px 12px;
}

.navbar ul li a:hover {
  background-color: white;
  color: black;
  border-radius: 5px;
}

.navbar-right {
  display: flex;
  gap: 10px;
}

.navbar-right a {
  font-size: 20px;
  color: white;
}

.navbar-right a:hover {
  color: blue;
}

.checkbtn {
  font-size: 25px;
  color: white;
  cursor: pointer;
  display: none;
}

/* Mobile View */
@media (max-width: 768px) {
  .navbar ul {
    position: absolute;
    top: 70px;
    left: 0;
    width: max-content;
    background-color: rgb(114, 60, 60);
    flex-direction: column;
    display: none;
    z-index: 99;
  }

  .navbar ul.show {
    display: flex;
    /* Show when JS adds class */
  }

  .checkbtn {
    display: block;
  }

  .navbar-right {
    position: absolute;
    right: 20px;
    top: 5px;
  }

  .navbar-right a {
    align-items: center;
    padding-top: 20px;
  }

}

.mybook {
  display: flex;
  flex-direction: row;
  overflow-x: auto;

  white-space: nowrap;
  padding: 10px;
  gap: 30px;
  margin-top: 20px;
}

.mybook img {
  height: 300px;
  width: 500px;
}

h3 {
  text-align: center;
}

.btn {

  height: 30px;
  width: fit-content;
  border-radius: 10px;
  margin: auto;
  display: block;


}

.btn :hover {
  color: aliceblue;

}




* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
}


.checkbtn {
    display: none;
    font-size: 24px;
    cursor: pointer;
}

#menu-list {
    display: flex;
    gap: 20px;
}

/* Mobile Navbar */
@media (max-width: 768px) {

    .checkbtn {
        display: block;
    }

    #menu-list {
        position: absolute;
        top: 60px;
        left: 0;
        background:rgb(114, 60, 60);
        width: 100%;
        flex-direction: column;
        display: none;
        padding: 10px 0;
    }

    #menu-list li {
        text-align: center;
        padding: 10px 0;
    }

    #menu-list.show {
        display: flex;
    }

    .navbar-right {
        display: none;
    }
}



.mybooks {
    padding: 20px;
}

.mybook {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

/* Tablet */
@media (max-width: 992px) {
    .mybook {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Mobile */
@media (max-width: 576px) {
    .mybook {
        grid-template-columns: 1fr;
    }

    .book-card {
        text-align: center;
    }
  }


#popup > div {
    width: 90%;
    max-width: 320px;
}
   